{% extends "::base_admin.html.twig" %}

{% block title %}{{ 'admin.title.requests'|trans() }} - {{ parent() }}{% endblock %}

{% block contentheader %}
    {{ 'admin.title.requests'|trans }}
{% endblock %}

{% block content %}
    {% if app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">{{ msg|trans() }}</div>
        {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'entity.request.user'|trans() }}</th>
                <th>{{ 'entity.request.photo'|trans() }}</th>
                <th>{{ 'entity.request.garbagecan'|trans() }}</th>
                <th>{{ 'entity.request.created_at'|trans() }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in requests %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{% if i.user %} {{ i.user.username }} {% else %} {{ 'info.anonymous'|trans() }} {% endif %}</td>
                    <td>{% thumbnail i.photo, 'small' %}</td>
                    <td>{{ i.garbagecan.street }}</td>
                    <td>{{ i.createdAt|date('Y-m-d H:m') }}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('admin_request_show', {'id': i.id}) }}"><i class="fa fa-eye"></i> {{ 'admin.action.crud.show'|trans() }} </a>
                        <a class="btn btn-default"><i class="fa fa-trash-o"></i> {{ 'admin.action.crud.delete'|trans() }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}