{% extends "::base_admin.html.twig" %}

{% block title %}{{ 'entity.garbagecan.crud.add'|trans() }} - {{ parent() }}{% endblock %}

{% block contentheader %}
    {{ 'entity.garbagecan.crud.add'|trans }}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ path('admin_garbagecan_new') }}">
        <div class="form-group">
            <label>{{ form_label(form.street) }}</label>
            {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>{{ form_label(form.latitude) }}</label>
            {{ form_widget(form.latitude, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>{{ form_label(form.longitude) }}</label>
            {{ form_widget(form.longitude, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
    </form>
    <button class="btn btn-primary" data-toggle="modal" data-target="#mapModal">
        {{ 'info.chooseplace'|trans }}
    </button>
    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'info.chooseplace'|trans }}</h4>
                </div>
                <div class="modal-body" style="height: 550px;">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" type="submit">{{ 'entity.garbagecan.crud.add'|trans() }}</button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map;
        var marker;
        var latitudeFormInput;
        var longitudeFormInput;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 42.85409, lng: 74.62833},
                zoom: 13
            });

            map.addListener('click', function(e) {
                var latLng = e.latLng;

                if (marker == null) {
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                    });
                    $(latitudeFormInput).val(latLng.lat());
                    $(longitudeFormInput).val(latLng.lng());
                }
                else {
                    marker.setMap(null);
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map
                    });
                    $(latitudeFormInput).val(latLng.lat());
                    $(longitudeFormInput).val(latLng.lng());
                }
            });
        }

        $('#mapModal').on('shown.bs.modal', function() {
            latitudeFormInput = $('#garbagecollector_entitybundle_garbagecan_latitude');
            longitudeFormInput = $('#garbagecollector_entitybundle_garbagecan_longitude');
            initMap();
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-bUJ1zdRIcv15XacvLVPBxsMqmGHWWpE&callback=initMap"
            async defer>

    </script>
{% endblock %}